:root {
  --inter: "Inter", sans-serif;
  --theme-font: var(--inter);
  --theme-bg: #000000;
  --theme-color: #ffffff;
  --white: #ffffff;
  --black: #000000;
  --primary-color: #ff7425;
  --secondary-color: #757575;
  --tertiary-color: #0e0e0e;
  --quaternary-color: #040404;
  --quinary-color: #c1c1c1;
  --senary-color: #191919;
  --septenary-color: #101010;
  --octonary-color: #1a1a1a;
  --nonary-color: #d9d9d9;
  --transition: all 0.3s ease-in-out;
  --shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  --shadow-secondary: 0 0 31px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 50px;
}


.retour-button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ff7425;
  font-size: 24px;
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.retour-button:hover {
  transform: scale(1.1); /* Agrandit légèrement au survol */
  color: #e56725;
}


.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}
