

.box {
  position: relative;
  width: 60%;
  height: 100%;
  background: linear-gradient(
    70deg,
    transparent 30%,
    rgba(255, 116, 37, 0.3) 30%
  ); /* Trait incliné */
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  margin: 0;
}


.logo1 {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 150px;
  height: auto;
}


.image1 {
  height: 50%;
  width: auto;
  right: 50px;

  animation: float 3s ease-in-out infinite; /* Animation continue */
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.signup{
  color: var(--primary-color);
  font-family: "Rubik", sans-serif;
  max-width: 70%;
  padding: 0;
  text-decoration: none;
  font-size: 1.2em;
}

.signup:hover{
  color:white;
  letter-spacing: 2px;
}



